<div class="container text-center">
    <div class="row" style="margin-bottom: 40px;">
        <label for="customRange2" class="form-label">Example range</label>
        <input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
    <div class="row">
        <div class="col" >
            <img src="https://images.vexels.com/media/users/3/131733/isolated/preview/c1d4154810e0275e30ab53a1e81a8c47-photo-album-circle-icon.png" alt="album-imagen-logo"
            style="height: 200px">
        </div>
        <div class="col-6" style="margin-top: 40px;">
            <p class="mb-1">&copy; Album Design Store, 2025</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        </div>
        <div class="col" style="margin-top: 40px;">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </div>
    
  </div>
